@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Ubuntu&display=swap');
@import url('https://fonts.cdnfonts.com/css/cascadia-mono');

body {
  font-family: 'Crimson Pro', serif;
  font-size: 24px;
  line-height: 1.4;
  margin: auto;
  max-width: 30em;
  padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
}

code, pre, samp, tt {
  font-family: 'Cascadia Mono', monospace;
  font-size: 20px;
}

tt {
  background-color: azure;
}
