@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap');

body {
  background-color: #fdfdfd;
  hyphens: auto;
}

body>div[style] {
  max-width: 68rem !important;
}

font[face], table {
  font-family: 'Crimson Pro', Georgia, serif;
  font-size: 1.6rem !important;
  line-height: 1.35;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Selawik, 'Segoe UI', sans-serif;
  font-weight: 400;
}

h2 {
  border-bottom: 1px solid gray;
}

li {
  margin-top: 1rem;
}

a {
  border-bottom: 1px solid transparent;
  text-decoration: none;
}

a:hover {
  background-color: azure;
  border-bottom-color: inherit;
}

hr {
  visibility: hidden;
}
