@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Red+Hat+Text&display=swap');
@import url('https://fonts.cdnfonts.com/css/selawik');

body {
  font-family: 'Selawik', 'Red Hat Text', 'Segoe UI', 'Ubuntu', sans-serif;
  font-size: 1.45em;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', 'Ubuntu', sans-serif !important;
  font-weight: 200 !important;
}
