@import url('https://fonts.cdnfonts.com/css/selawik');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body {
  font-family: 'Selawik', 'Segoe UI', sans-serif;
  font-size: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', 'Arial Narrow', sans-serif;
  font-weight: 300;
}

h2 {
  border-bottom: 1px solid black;
}

div.body {
  max-width: 50rem;
}

pre, code {
  font-family: 'Cascadia Mono', monospace;
}
