@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600&display=swap');

body {
  background-color: #eee;
  background-image: none;
}

div, div[style], span[style], font, font[style], table, table[style], b, b[style] {
  color: black !important;
  font-family: 'Source Sans 3', sans-serif !important;
  font-weight: 400;
}

b, b[style] {
  font-weight: 600;
}

a {
  color: revert;
}
