@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.cdnfonts.com/css/cascadia-code');
@import url('https://fonts.cdnfonts.com/css/selawik');

html {
  font-size: 24px;
}

body {
  text-rendering: optimizeLegibility;
  font-variant-ligatures: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', 'Arial', 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: .03em;
}

h1 {
  font-size: 1.65rem;
}

h2 {
  font-size: 1.2rem;
}

p, p tbody, code, pre, tt, ul, ol {
  font-size: 1rem;
  line-height: 1.4;
  margin-bottom: 1rem;
}

p, p tbody, li {
  font-family: 'Segoe UI', 'Roboto', 'Selawik', 'Arial', sans-serif;
}

code, pre, tt {
  font-family: 'Cascadia Code', 'Consolas', monospace;
}

a {
  text-decoration: none;
  border-bottom: 0.1rem solid transparent;
}

a:hover {
  background-color: azure;
  color: inherit;
  border-bottom-color: inherit;
}

td, div#btntop, p.copyright {
  font-family: 'Verdana', 'Roboto', 'Arial', sans-serif;
}

p.copyright {
  font-size: .7rem;
  line-height: 1.3;
}
