@import url('https://fonts.cdnfonts.com/css/cascadia-mono');

.text-mono, .blob-num, .blob-code-inner {
  font-family: 'Cascadia Mono', ui-monospace, 'SFMono-Regular', 'SF Mono', Menlo, Consolas, 'Liberation Mono', monospace !important;
  font-size: 1.2rem !important;
}

.blob-num, .blob-code-inner {
  padding-top: .25rem !important;
  padding-bottom: .25rem !important;
}

.blob-code-inner:hover {
  background-color: azure;
}
