@import url('https://fonts.cdnfonts.com/css/cascadia-mono');
@import url('https://fonts.cdnfonts.com/css/selawik');

main {
  font-family: 'Selawik', 'Segoe UI', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 22px;
  font-weight: 300;
  hyphens: auto;
  line-height: 1.35;
  margin: auto;
  max-width: 32em;
}

main pre, main code {
  font-family: 'Cascadia Mono', 'Source Code Pro', 'Consolas', monospace;
  font-size: 19px;
  letter-spacing: normal;
}
